<html ng-app="tablegem">
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<style type="text/css">
			th,td {
				width: 200px;
				height: 35px;
				border: 2px solid AliceBlue;
				text-align: center;
			}

			table {
				border-collapse: collapse;
			}

			th {
				background-color: Lavender;
			}

			body {
				color: DimGray;
			}

		</style>
	</head>
	<body ng-controller="TableController as tables">

		<!-- <div>{{ tables.adultData | orderBy: 'id' }} </div> --> 
		<div style="width:600px;height:250px;overflow:auto;" align="center">
		<table align="center" ng-init="f='id'">
			<tr>
				<th ng-click=" f='id' ; rev=!rev"><div>ID</div></th>
				<th ng-click=" f='Age' ; rev=!rev">Age</th>
				<th>Workclass</th>
			</tr>
			<tr ng-repeat="table in tables.adultData | orderBy: f : rev" ng-if="tables.noise(table)">
				<td>{{table.id}}</td>
				<td>{{table.Age}}</td>
				<td>{{table.Workclass}}</td>
			</tr>
		</table>
		</div>
	</body>
</html>